body {
	font: normal 300 1.5em/1 "Lato", sans-serif;
	color: #fcfffa;
	background-color: #3f403f;
}

a {
	padding: 1.5em;
}

.text-muted {
	color: #bcbbbb;
}

.text-thin {
	font-weight: 100;
}

.title-logo {
	margin: 20px;
	max-height: 100px;
}

.title-super {
	font-size: 60px;
}

.header-title {
	text-align: right;
}

.work-section {
	display: flex;
	flex-wrap: wrap;
}

@media screen and (max-width: 415px) {
	.title-super {
		font-size: 40px;
	}

	.work-title {
		font-size: 18px;
	}

	.work-link {
		font-size: 14px;
	}
}

@media screen and (max-width: 767px) {
	.title-logo {
		margin: auto;
	}

	.header-title {
		text-align: center;
	}

	.work-image,
	.work-description {
		width: 50%;
		padding: 5px;
	}

	.work-section {
		padding: 1.5em;
		align-items: center;
	}
}